page-debts-detail {
    /* Fix the margin at the bottom of the content for a tab */
    .content .fixed-content, .content .scroll-content{
        margin-bottom: 0px !important;
        /* background-color: #f4f4f4 !important; */
    }

    .social-cards ion-card ion-col {
        padding: 0;
    }

    ion-icon.debt-icon {
        color: color($colors, danger);
    }

    ion-icon.debt-icon.paid {
        color: color($colors, success);
    }

    .buttons-debt-card button {
        padding: 0px 4px;
    }

    ion-row.buttons-debt-card {
        text-align: center;
    }
}
