<!-- <ion-header>
    <ion-navbar>
        <ion-title>Inicio</ion-title>
    </ion-navbar>
</ion-header> -->


<ion-content>

    <ion-fab bottom right>
        <button ion-fab (click)="createCustomSale()"><ion-icon name="cube"></ion-icon></button>
    </ion-fab>

    <ion-grid>
        <ion-row>
            <ion-col col-6></ion-col>
            <ion-col col-6>
                <ion-toolbar class="toolb">
                    <ion-title>Carrito de ventas</ion-title>
                    <ion-buttons end>
                        <button ion-button color="primary" outline (click)="generateSale()">
                            {{sale.value | currency:'COP':'symbol-narrow':'1.0'}}
                        </button>
                    </ion-buttons>
                </ion-toolbar>
                <ion-note *ngIf="selectedItems.length==0 && customItems.length==0">
                    No hay items para mostrar.
                </ion-note>
                <ion-list>
                    <ion-item *ngFor="let item of selectedItems"
                        class="item-shoping-cart"
                        (swipe)="swipeEvent(item)"
                        [tooltip]="item.name" positionV="bottom" event="press" duration="4000" arrow>
                        <h2>{{item.name}}</h2>
                        <p>
                            {{item.price | currency:'COP':'symbol-narrow':'1.0'}}
                        </p>
                        <ion-note item-end>                            
                            <button ion-button icon-only round clear small (tap)="increaseItem(item)">
                                <ion-icon name="add-circle" [ngStyle]="{'color':'gray'}"></ion-icon>
                            </button>
                            <br>
                            <button ion-button icon-only round clear small (tap)="decreaseItem(item)">
                                <ion-icon name="remove-circle" [ngStyle]="{'color':'gray'}"></ion-icon>
                            </button>
                        </ion-note>
                        <ion-note item-end>
                            {{(item.price * item.nSelected) | currency:'COP':'symbol-narrow':'1.0'}}<br>
                            x{{item.nSelected}}
                        </ion-note>
                    </ion-item>

                    <!-- Custom items -->
                    <ion-item *ngFor="let item of customItems; let idx = index"
                        class="item-shoping-cart"
                        (swipe)="swipeEventCustom(item, idx)">
                        <h2>Item {{idx + 1}}</h2>
                        <p>
                            {{item.price | currency:'COP':'symbol-narrow':'1.0'}}
                        </p>
                        <ion-note item-end>                            
                            <button ion-button icon-only round clear small (tap)="increaseCustomItem(item)">
                                <ion-icon name="add-circle" [ngStyle]="{'color':'gray'}"></ion-icon>
                            </button>
                            <br>
                            <button ion-button icon-only round clear small (tap)="decreaseCustomItem(item)">
                                <ion-icon name="remove-circle" [ngStyle]="{'color':'gray'}"></ion-icon>
                            </button>
                        </ion-note>
                        <ion-note item-end>
                            {{(item.price * item.nSelected) | currency:'COP':'symbol-narrow':'1.0'}}<br>
                            x{{item.nSelected}}
                        </ion-note>                        
                    </ion-item>
                </ion-list>
                <div *ngIf="selectedItems.length!=0 || customItems.length!=0">
                    <ion-list inset>
                        <ion-item>
                            <ion-label>Crédito</ion-label>
                            <ion-checkbox [(ngModel)]="credit"></ion-checkbox><!-- (ionChange)="toggleCredit()" -->
                        </ion-item>
                        <div *ngIf="credit">
                            <ion-item>
                                <ion-label fixed>Nombre</ion-label>
                                <ion-input type="text" [(ngModel)]="debtorName" placeholder="Don Raúl"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label fixed>Abono</ion-label>
                                <ion-input type="number" [(ngModel)]="paidValue" min=0></ion-input>
                            </ion-item>
                        </div>
                    </ion-list>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
