<!-- <ion-header>
    <ion-navbar>
        <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
    </ion-navbar>
</ion-header> -->


<ion-content>
    <ion-searchbar
        (ionInput)="filterItems($event)"
        placeholder="Buscar items por nombre, id...">
    </ion-searchbar>
    <ion-list>
        <!-- <ion-item *ngFor="let item of queryItems">
            <ion-icon name="git-commit"></ion-icon>
            <h2>{{item.name}}</h2>
            <h3>Don't Know What To Do!</h3>
            <p>Precio: ${{item.price}} | ID: {{item.id}} | {{item.nAvailable}}</p>
            <button ion-button outline item-end icon-left>
                <ion-icon name="basket"></ion-icon>
                Left Icon
            </button>
        </ion-item> -->
        <!-- <button ion-item (click)="item.selected=!item.selected" *ngFor="let item of queryItems"> -->
        <button ion-item (click)="changeSelectedItems(item)" 
            *ngFor="let item of queryItems" [disabled]="item.nAvailable == 0">
            <h2>{{item.name}}</h2>
            <p>Precio: {{item.price | currency:'COP':'symbol-narrow':'1.0'}}
                 | ID: {{item.id}} | {{item.nAvailable}}</p>
            <ion-note item-end *ngIf="item.nAvailable == 0">No disponible</ion-note>
            <ion-icon name="cart" small item-end *ngIf="item.selected"></ion-icon>
        </button>
    </ion-list>
</ion-content>