<ion-header>

    <ion-navbar color="primary">            
        <ion-buttons end>
            <button ion-button icon-only (click)="syncUpdatedItems()">
                <ion-icon name="sync"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Inventario</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-fab bottom right>
        <button ion-fab (click)="createItem()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <ion-list>
        <ion-grid>
            <ion-row>
                <ion-col col-5>
                    <ion-searchbar
                        (ionInput)="filterItems($event)"
                        placeholder="Buscar items por nombre, id...">
                    </ion-searchbar>
                </ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col col-2>
                    <ion-item>
                        <ion-label>Valor</ion-label>
                        <ion-input type="number" [(ngModel)]="customIncreaseValue"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-item *ngFor="let item of queryItems">
                <ion-row>
                    <ion-col col-6>
                        <h2>{{ item.name }}</h2>
                    </ion-col>
                    <ion-col>
                        <button ion-fab mini clear (click)="removeItemEvent(item)">
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-fab mini (click)="modifyItem(item)">
                            <ion-icon name="create"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-fab mini color="light"
                            (click)="setItemCustomValue(item)" [disabled]="customIncreaseValue < 0">
                            ={{ customIncreaseValue }}
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-fab mini color="light" (click)="decreaseItem(item)">-1</button>
                    </ion-col>
                    <ion-col>
                        <button ion-fab mini color="light" (click)="increaseItem(item)">+1</button>
                    </ion-col>
                    <ion-col>
                        <button ion-fab mini color="light" (click)="increaseItemCustomValue(item)">
                            <span *ngIf="customIncreaseValue > -1">+</span>{{ customIncreaseValue }}
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button full clear color="dark">{{ item.nAvailable }}</button>                        
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-grid>
    </ion-list>

</ion-content>
