page-debts-master {
    /* Fix the margin at the bottom of the content for a tab */
    .content .fixed-content, .content .scroll-content{
        margin-bottom: 0px !important;
    }

    button.selected {
        background-color: #f4f4f4 !important;
    }

    /* button:hover {
        background-color: #f4f4f4 !important;
    } */

}
