page-debts-master {
    /* Fix the margin at the bottom of the content for a tab */
    .content .fixed-content, .content .scroll-content{
        margin-bottom: 0px !important;
    }

    button.selected {
        background-color: #f4f4f4 !important;

        ion-label {
            border-left: 2px solid #4f8cef;
            padding-left: 10px;
        }
    }

    /* button:hover {
        background-color: #f4f4f4 !important;
    } */

}
